/**
 * ElementPlus 样式
 */

/**
 * dropdown下拉菜单
 */
.el-dropdown__popper,
.el-dropdown .el-dropdown-link:focus-visible {
    outline: none !important;
}

/**
 * menu菜单
 */
.el-menu {
    border-right: none !important;
}

.el-sub-menu__title,
.el-menu-item {
    border-radius: 8px;
}

.el-sub-menu__title:hover,
.el-menu-item:hover {
    background-color: color-mix(in srgb, var(--primary-color) 40%, white) !important;
    color: var(--primary-color);
}

.el-menu--collapse .el-sub-menu.is-active .el-sub-menu__title,
.el-menu-item.is-active {
    background-color: #FFFFFF !important;
}
